.navbarr {
  position: sticky;
  top:0;
  z-index: 1;
} 

/* .navbarr-bg {

} */


/* .change{
  position: sticky;
  top:0;
  background-color: red !important;
} */

/* Navbar container */
.firsthead {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    font-family: Arial;
    height: 75px;
  }

  .firsthead-bg {
    background-color: rgba(0, 64, 170, 0.7);
  }

  
  
header nav {
  margin-top: 5px;
}

.logo {
    float: left;
    color: #FFD720;
    /* margin-left: 0px; */
    margin-left: 0px;
    margin-right: 100px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 32px;
    /* color: #f9f9f9; */
}

.iconlogo {
  float: left;
  margin-left: 10px;
  margin-top: 19px;
  height: 26.38px;
  width: 83.7px;
}

.lang {
    float: right;
    margin: 20px 20px 15px 10px;
    padding: 5px;

}


.androidbtnav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100px;
  height: 30px;
  padding: 0px;
  font-size: 14px;
  border: 0px;
  border-radius: 15px 0px 0px 15px;
  color: #0040AA;
  background-color: #FFD720;
  text-decoration: none !important;
}

.iosbtnav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100px;
  height: 30px;
  padding: 0px;
  font-size: 14px;
  border: 0px;
  border-radius: 0px 15px 15px 0px;
  color: #FFD720;
  background-color: #0040AA;
  opacity: 0.6;
}

.androis {
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
  margin-top: 15px;
  margin-right: 50px;
  float: right;
  text-decoration: none !important;
}

.androis a {
  text-decoration: none;
}

.iconandroid {
  display: none;
}

.iconios {
  display: none;
}

  /* Links inside the navbar */
  .navlinks a {
    float: left;
    font-size: 14px;
    width: 80px;
    color: #FFD720;
    text-align: center;
    margin-bottom: 5px;
    text-decoration: none;
    padding: 25px 10px;
    font-weight: bold;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 14px;
    font-weight: bold;
    border: none;
    outline: none;
    color: #FFD720;
    padding: 25px 10px;
    background-color: inherit;
    font: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  .langdropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    overflow: hidden;
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 50px;
  }

  .langdropdownp {
    display: none;
  }

  /* Dropdown button */
  .langdropdown .langdropbtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    width: 60px;
    font-weight: bold;
    border: none;
    outline: none;
    color: #FFD720;
    padding: 20px 10px;
    margin-bottom: 20px;
    background-color: inherit;
    font: inherit; /* Important for vertical align on mobile phones */
    /* margin: 0; Important for vertical align on mobile phones */
  }

  /* arrow-down */

  .arrow {
    border: solid #FFD720;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
  }

  .dropdown:hover .down {
    border: solid #0040AA;
    border-width: 0 3px 3px 0;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  
  /* Add a yellow background color to navbar links on hover */
  .navbarr a:hover, .dropdown:hover .dropbtn {
    background-color: #FFD720;
    color: #0040AA;
  }
  /* add a background to language links */

  .langdropdown:hover .langdropbtn {
    background-color: #0040AA;
    color: #FFD720;
  }


  nav {
    right: 00px;
  }

  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1;
  }

  /* language Dropdown (hidden by default) */
  
  .langdropdown-content {
    margin-top: 145px;
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    width: 40px;
    height: 100px;
    z-index: 1;
  }
  
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    text-align: center;
  }
  
  /* Show the language dropdown menu on hover */
  .langdropdown:hover .langdropdown-content {
    display: block;
    text-align: center;
  }

  /* Create two equal columns that floats next to each other */
  .column {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    width: 99%;
    height: 200px;
    padding: 10px;
    background-color: #0040AA;
    color: #FFD720;
  }

  .bricool {
    width: 99%;
  }
  
  /* Style links inside the columns */
  .column a {
    float: none;
    color: #FFD720;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: left;
  }
  
  /* Add a background color on hover */
  
  .column a:hover {
    background-color: #FFD720;
    color: #0040AA;
  }

  /* Create a column */
  .langcolumn {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    width: 99%;
    padding: 10px;
    background-color: #0040AA;
    color: #ffd720;
  }

  .langbricool {
    width: 100%;
  }
  
  /* Style links inside the language columns */
  .langcolumn a {
    float: none;
    color: #ffd720;
    padding:  22px;
    text-decoration: none;
    display: block;
    text-align: center;
  }

    
     .icon {
       display: none;
     }
    
     @media screen and (max-width: 600px) {
      .firsthead{
        height: 50px;
      }

      .navv {
        display: none;
      }

        /* Links inside the navbar */
  .navlinks a {
    float: left;
    font-size: 14px;
    width: 80px;
    color: #FFD720;
    text-align: center;
    margin-bottom: 5px;
    text-decoration: none;
    padding: 25px 10px;
    font-weight: bold;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 14px;
    font-weight: bold;
    border: none;
    outline: none;
    color: #FFD720;
    padding: 25px 10px;
    background-color: inherit;
    font: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* arrow-down */

  .arrow {
    border: solid #FFD720;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
  }

  .dropdown:hover .down {
    border: solid #0040AA;
    border-width: 0 3px 3px 0;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  
  /* Add a yellow background color to navbar links on hover */
  .navbarr a:hover, .dropdown:hover .dropbtn {
    background-color: #FFD720;
    color: #0040AA;
  }

  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1;
  }
  
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    text-align: center;
  }

  /* Create two equal columns that floats next to each other */
  .column {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    width: 99%;
    height: 200px;
    padding: 10px;
    background-color: #0040AA;
    color: #FFD720;
  }

  .bricool {
    width: 99%;
  }
  
  /* Style links inside the columns */
  .column a {
    float: none;
    color: #FFD720;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: left;
  }
  
  /* Add a background color on hover */
  
  .column a:hover {
    background-color: #FFD720;
    color: #0040AA;
  }

       .icon {
         float: left;
         display: block;
         font-size: 16px;
         top: 50%;
         border: 0;
      }

      .logo {
        float: left;
        color: #FFD720;
        margin-left: 0px;
        margin-right: 0px;
        top: 50%;
        font-weight: bold;
        font-size: 20px;
    }

    .iconlogo {
      float: left;
      margin-left: 0px;
      top: 50%;
      height: 26.38px;
      width: 83.7px;
    }

    .androis {
      display: none;
    }

    .androidios {
      display: flex;
      flex-direction: "row";
      justify-content: space-between;
      margin-top: 10px;
      margin-right: 10px;
      float: right;
    }
    
    .iconandroid {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 30px;
      height: 30px;
      padding: 0px;
      font-size: 14px;
      border: 0px;
      border-radius: 15px 0px 0px 15px;
      Color: #0040AA;
      background-color: #FFD720;
      float: left;
    }
    
    .iconios {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 30px;
          height: 30px;
          padding: 0px;
          font-size: 14px;
          border: 0px;
          border-radius: 0px 15px 15px 0px;
          color: #FFD720;
          background-color: #0040AA;
          opacity: 0.6;
    }

    .langdropdown {
      display: none;
    }
    
    .langdropdownp {
      display: flex;
      justify-content: space-between;
      align-items: center;
      float: right;
      overflow: hidden;
      font-size: 11px;
      margin-right: 40px;
    }
  
  
    /* Dropdown button */
    .langdropdownp .langdropbtnp {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 11px;
      width: 20px;
      font-weight: bold;
      border: none;
      outline: none;
      color: #FFD720;
      padding: 5px 2px;
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      background-color: inherit;
      font: inherit; /* Important for vertical align on mobile phones */
      /* margin: 0; Important for vertical align on mobile phones */
    }
    
    .langdropdown-contentp {
      margin-top: 145px;
      margin-right: 50px;
      display: none;
      position: absolute;
      background-color: rgba(0, 0, 0, 0);
      width: 60px;
      height: 100px;
    }
    .langdropdownp:hover .langdropdown-contentp {
      display: block;
    }

    .langcolumnp {
      width: 99%;
      background-color: #0040AA;
      color: #ffd720;
    }
  
    .langbricoolp {
      text-align: center;
      width: 100%;
    }
    
    /* Style links inside the language columns */
    .langcolumnp a {
      float: none;
      color: #ffd720;
      padding:  22px;
      text-decoration: none;
      display: block;
      text-align: center;
      margin-right: 40px;
    }

    .langcolumnp a:hover {
      background-color: #FFD720;
      color: #0040AA;
    }
    
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
      text-align: center;
    }

    .navlinks a {
      float: left;
      font-size: 14px;
      width: 80px;
      color: #FFD720;
      text-align: center;
      margin-bottom: 10px;
      text-decoration: none;
      padding: 25px 10px;
      font-weight: bold;
    }

    header nav {
      margin-top: -5px;
    }
     }
    
     @media screen and (max-width: 600px) {
       .navv.responsive {
         position: relative;
       }
       .navv.responsive .icon {
         position: absolute;
         right: 0;
     }
       .navv.responsive a {
         float: none;
        display: block;
        text-align: left;
       }
     }