
.tag {
	text-align: center;
}

.slick-slide img {
	margin: auto;
	width: 50%;
	height: 50%;
}

article {
    width: 50%;
    padding: 10px;
    float: left;
  }
  aside {
    width: 40%;
    height: 50%;
    overflow-y: auto;
    float: right;
    background-color: rgb(220,220,220);
    color: black;
    padding: 5px;
    margin: 10px;
  }

  aside p {
    width: 100%;
    background-color: whitesmoke;
   margin: 0px;
   border: solid 2px black;
  }

  .container {
    position: relative;
    text-align: center;
    color: white;
  }

  .top-left {
    position: absolute;
    bottom: 0px;
    left: 16px;
  }