

.androidbtn {
    width: 150px;
    height: 50px;
    padding: 0px;
    font-size: 16px;
    border: 0px;
    border-radius: 20px 0px 0px 20px;
    color: #0040AA;
    background-color: #FFD720;
}

.btnspan {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.iosbtn {
    width: 150px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border: 0px;
    border-radius: 0px 20px 20px 0px;
    color: #FFD720;
    background-color: #0040AA;
}

.btndiv {
    margin-bottom: 120px;
    margin-left: 100px;
}

.downloadapp {
    font-size: 18px;
    color: #FFD720;
    margin-bottom: 5px;
    margin-top: 65px;
    margin-bottom: 10px;
    font-weight: bold;
}

.slogan {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    letter-spacing: 5px;
    font-weight: bolder;
}

.pub {
    display: flex;
    color: #0040AA;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}


.thirdsection {
    z-index: 0,
}

/* .firstsection {
    filter:brightness(0.7); 
  -webkit-filter:brightness(0.7);    
  left:0;top:0;bottom:0;right:0; 
} */


.slogantext {
    margin-top: 280;
    font-size: 48;
}

.textdiv{
    margin-top: 280;
    display: block;
    overflow: hidden;
    padding-top: 50vh;
    font-weight: bolder;
    font-size: 44px;
  }
  .textdiv:first-of-type{
    animation: slide 6s infinite;
  }
  .textdiv:last-of-type{
    animation: slide 6s infinite;
  }
  .textdiv:last-of-type span {
    font-size: 33px;
    color: #808000;
    animation: slide 6s infinite;
  }

  @keyframes appear{
    0%{opacity: 0;}
    20%{opacity: 1;}
    80%{opacity: 1;}
    100%{opacity: 0;}
  }
  @keyframes slide{
    0%{margin-left:-3000px;}
    20%{margin-left:0px;}
    35%{margin-left:0px;}
  100%{margin-left:0px;}
  }
  @keyframes reveal{
    0%{opacity: 0; width: 0px;}
    20%{opacity: 1; width: 0px;}
    30%{width: 655px;}
    80%{opacity: 1;}
    100%{opacity: 0; width: 655px;}
  }